body {
  background-color: #414d61;
}

h1, h2, h3, p {
  color: white;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
}

 h2 {
   font-size: 25px;
 }

.container {
 display: block;
 position: relative;
 padding-left: 30px;
 margin-bottom: 30px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 border-radius: 50%;
 background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
 background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
 background-color: #333333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
 display: block;
}

.center {
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.horizontalW {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.centerBraille {
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.text-center{
  text-align: center;
}

button {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #333333;
}

.button1:hover {
  background-color: #333333;
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #333333;
}
